<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>


<% @upcomming_events.each do |e| %>
<h4><%= e.title%></h4>
<p><%= e.date %></p>
<% end %>

<% @past_events.each do |e| %>
<h4><%= e.title%></h4>
<p>ago <%=  time_ago_in_words(e.date) %></p>
<% end %>