<%= render 'home_header' %>
<div class="row container m-5">
    <div class="col-3">
        <ul class="nav flex-column nav-pills" id="pills-tab" role="tablist" aria-orientation="vertical">
        <li class="nav-item">
            <a class="nav-link active" id="pills-upcomming-tab" data-toggle="pill" href="#pills-upcomming" role="tab" aria-controls="pills-upcomming" aria-selected="true">Upcomming events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-past-tab" data-toggle="pill" href="#pills-past" role="tab" aria-controls="pills-past" aria-selected="false">Past events</a>
        </li>
        </ul>
    </div>

    <div class="col">
        <div class="tab-content" id="pills-content-tab">
            <div class="tab-pane fade show active" id="pills-upcomming" role="tabpanel" aria-labelledby="pills-upcomming-tab">

                <%= render 'list_events', {events: @upcomming_events, type: 'upcomming'} %>
        </div>
        <div class="tab-pane fade" id="pills-past" role="tabpanel" aria-labelledby="pills-past-tab">

                <%= render 'list_events', {events: @past_events, type: 'past'} %>         
        </div>
        </div>
    </div>
</div>